@font-face {
    font-family: "dogica";
    src: url(../fonts/dogica.ttf);
}

body {
    background-image: url("../pictures/ui/bg_tiled.png");
    font-family: "dogica";
    display: flex;
    justify-content: center;
    margin-top: 64px;
}

#main {
    width: 750px;
    height: 750px;
    border: 16px solid transparent;
    border-image: url("../pictures/ui/border.png") 16 round;
    background-clip: padding-box;
}

#back {
    background: url("../pictures/ui/back_btn.png") no-repeat;  
}

form{
    position: relative;
    display: inline;
}

.navbutton {
    position: relative;
    background-size: 44px 44px;
    border: none;
    height: 44px;
    width: 44px;
    top: 6px;
    left: 6px;
}

.navbutton:hover {
    top: 5px;
}

#logoff{
    right: 6px;
    float: right;
}

#logout {
    background: url("../pictures/ui/logout.png") no-repeat; 
    margin-top: 6px;
    left: 0px; 
}

.user_input{
    font-family: "dogica";
    border: 16px solid transparent;
    border-image: url(../pictures/ui/border_internal.png) 16 fill;
    padding-bottom: 6px;
}